/*
Author: Sean O'Brien
Class: Art 116
date: 11-05-2023
*/

nav {
    width: auto;
    height: auto;
    padding: 3em;
    background-color:#BF8F65;
    
 }
 /* 
 Ive commented out the banner section with a background image as I dont actually want a banner or background image, 
 but I have one on here with a tiny grey square just for the assignment.
#banner{
    width: 01%;
    height: 01%;
    background-image: url(../images/BackgroundImage.png);
    background-repeat: no-repeat;
    background-color: #A8B2B2;
}
*/

 nav ul li{
    color:black;
    font-size: 130%;
    font-family: 'Futura PT', sans-serif;
    list-style: none;
    float: left;
    padding: .25em;
 }

 nav ul li a{
    font-family: 'Futura PT', sans-serif;	
 }

 
 nav ul li img{
    margin: 2%;
    position: relative;
    border-bottom: 100px;
 }	
 

 nav ul li a:hover{
    color:#A8B2B2;
 }

aside :left{
    float: left;
    width:fit-content;
    margin: 1%;
    padding: auto;
    border: 1px solid black;
}
aside :right{
    float: left;
    width:fit-content;
    margin: 1%;
    padding: auto;
    border: 1px solid black;
}

body {
    font-family: 'Futura PT', sans-serif;	
    color: black; 
    font-size: 14px; 
    background-color:#A8B2B2;
}

footer {
    font-family: 'Futura PT', sans-serif;	
    background-color:#A8B2B2; 
    padding: 3em;
}


footer ul li{
    color:black;
    font-size: 130%;
    font-family: 'Futura PT', sans-serif;
    list-style: none;
    float: left;
    padding: .25em;
 }

 footer ul li a{
    font-family: 'Futura PT', sans-serif;	
 }

 footer ul li a:hover{
    color:#A8B2B2;
 }


a:link {
    text-decoration: none; 
    color: black; 
    font-family: 'Futura PT', sans-serif; 
}

a {
    text-decoration: none;
    color: black;
}


h1 {
    font-weight: bold;
}

h3 {
    font-style: italic;
}

